<%- include ('./partials/header') %>

<div class="container committees">
    <h1 class="title">Committees</h1>

    
    <table class="primary">
        <tbody>
            <tr>
                <td><h4 class="importance-title">Primary Committees</h4></td>
            </tr>

            <%  let i = 0
                primary.forEach((committee, j) => {
                    if (i % 3 === 0) { %> <tr class = "committee-row"> <% } %>
                    <td class="committee">
                        <h4 class="committee-title"><%= committee.name %></h4>
                        <ul>
                            <% committee.members.forEach(member => { %>
                                <li><%= `${member.firstname} ${member.lastname}` %></li>
                            <% }) %>
                        </ul>
                    </td>
                    <% i+=1
                    if (i % 3 === 0 || j === primary.length) { %> </tr> <% } %>
                <% }); %>

            <tr>
                <td><h4 class="importance-title">Secondary Committees</h4></td>
            </tr>
    
            <%  i = 0
                secondary.forEach((committee, j) => {
                    if (i % 3 === 0) { %> <tr class = "committee-row"> <% } %>
                    <td class="committee">
                        <h4 class="committee-title"><%= committee.name %></h4>
                        <ul>
                            <% committee.members.forEach(member => { %>
                                <li><%= `${member.firstname} ${member.lastname}` %></li>
                            <% }) %>
                        </ul>
                    </td>
                    <% i+=1
                    if (i % 3 === 0 || j === secondary.length) { %> </tr> <% } %>
                <% }); %>

            <tr>
                <td><h4 class="importance-title">Tertiary Committees</h4></td>
            </tr>
    
            <%  i = 0
                tertiary.forEach((committee, j) => {
                    if (i % 3 === 0) { %> <tr class = "committee-row"> <% } %>
                    <td class="committee">
                        <h4 class="committee-title"><%= committee.name %></h4>
                        <ul>
                            <% committee.members.forEach(member => { %>
                                <li><%= `${member.firstname} ${member.lastname}` %></li>
                            <% }) %>
                        </ul>
                    </td>
                    <% i+=1
                    if (i % 3 === 0 || j === tertiary.length) { %> </tr> <% } %>
                <% }); %>
            <!---
            <tr class="committee-row">
                <td class="committee">
                    <h4 class="committee-title">Week of Respect (Tri 1) October</h4>
                    <ul>
                        <li>Maya</li>
                        <li>Eric</li>
                        <li>Lindsey</li>
                        <li>Vivek</li>
                        <li>Rachel</li>
                    </ul>
                </td>
                <td class="committee">
                    <h4 class="committee-title">Safe Schools Week (Tri 1) October</h4>
                    <ul>
                        <li>Miki</li>
                        <li>Katie</li>
                        <li>Leena</li>
                        <li>Jess</li>
                    </ul>
                </td>
                <td class="committee">
                    <h4 class="committee-title">School Climate and Outreach (Tri 1, 2, 3)</h4>
                    <ul>
                        <li>Elana</li>
                        <li>Krishi</li>
                        <li>Aidan</li>
                        <li>Lae</li>
                    </ul>
                </td>
            </tr>
            <tr class="committee-row">
                <td class="committee">
                    <h4 class="committee-title">Holiday Service (Tri 2)</h4>
                    <ul>
                        <li>Amelie</li>
                        <li>Casey</li>
                        <li>Mark</li>
                        <li>Justin</li>
                    </ul>
                </td>
                <td class="committee">
                    <h4 class="committee-title">Bleshman Outreach (Tri 3)</h4>
                    <ul>
                        <li>Carissa</li>
                        <li>Alek</li>
                        <li>Melissa</li>
                        <li>Sue</li>
                    </ul>
                </td>
                <td class="committee">
                    <h4 class="committee-title">Bleshman Dance (Tri 3)</h4>
                    <ul>
                        <li>Abi</li>
                        <li>Janelle</li>
                        <li>Jiwon</li>
                        <li>Will</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><h4 class="importance-title">Secondary Committees</h4></td>
            </tr>
            <tr class="committee-row">
                <td class="committee">
                    <h4 class="committee-title">Freshman Seminar (Tri 1)</h4>
                    <ul>
                        <li>Aaron</li>
                        <li>Maya</li>
                    </ul>
                </td>
                <td class="committee">
                    <h4 class="committee-title">Back to School Night (Tri 1)</h4>
                    <ul>
                        <li>Krishi</li>
                        <li>Rachel</li>
                        <li>Leena</li>
                    </ul>
                </td>
                <td class="committee">
                    <h4 class="committee-title">BCA Interviews</h4>
                    <ul>
                        <li>Alek</li>
                        <li>Janelle</li>
                        <li>Miki</li>
                        <li>Lae</li>
                        <li>Amelie</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table> -->

</div>

<%- include ('./partials/footer') %>