<div class="groupActivity">
    <h2>Group Activity Signups</h2>
    <p>These are the signups for the group activity portion of the application. They will take place after school, so please make sure the you have enough time to attend. It would be much appreciated if all of you could keep the two dates pretty balanced. If there are any questions or concerns, please use the question button above.</p>

    <table class="groupactivity-signups">
        <tbody>
            <tr>
                <% group_activities.forEach((group, i) => { 
                    let buttonText = "Sign Up"
                    let buttonClass = "sign-up"

                    if (group.applicants.length === group_activity_limit) {
                        buttonText = "Full"
                        buttonClass = "full"
                    }
                %>
                    <td class="group-activity">
                        <h3>Group Activity <%= i+1 %></h3>
                        <h4>Date: <%= group.date %></h4>
                        <h4>Room: <%= group.room %></h4>
                        <h4>Start Time: <%= group.time %></h4>
                        <h3>Applicants:</h3>
                        <ul id="<%= group._id %>-ul">
                            <% group.applicants.forEach(applicant => { 
                                if (JSON.stringify(applicant._id) === JSON.stringify(user._id)) {
                                    buttonText = "Signed Up";
                                    buttonClass = "signed-up"
                                }
                            %>    
                                <li 
                                    <% if (JSON.stringify(applicant._id) === JSON.stringify(user._id)) { %> data-me="true" <% } %>
                                >
                                <%= applicant.firstname %> <%= applicant.lastname %></li>
                            <% }) %> 
                        </ul>
                        <button id="<%= group._id %>" class="<%= buttonClass %>" onclick="joinGroupActivity('<%= group._id %>')"><%= buttonText %></button>
                    </td>
                    
                <% }) %>
            </tr>
        </tbody>
    </table>
</div>