<%- include ('./../partials/applicant/header') %>

<% if(!details.applicationsOpen) { %>
    <div class="not-time">
        <div class="content">
            <h2>It is not yet time to apply!</h2>
            <p>We appreciate you signing up early, but it is not yet time to apply. Please check your email for any application updates and check the portal as well. If you have a question, feel free to use the question button above.</p>
        </div>
    </div>
<% } else if (user.applicant_data.cut) { %>
    <div class="applicant-cut">
        <p>you've been cut</p>
    </div>
<% } else if (user.applicant_data.application_stage === 1) { %>
    <% if (user.applicant_data.written.activities.length !== 0) { %>
        <div class="written-submitted">
            <h1>Thanks for applying!</h1>
            <p>Please look out for an email in the upcoming weeks regarding the next steps and check this portal every so often to see if it updates.</p>
        </div>
    <% } else if (Date.now() > Date.parse(details.written.deadline)) { %>
        <div class="written-deadline">
            <h1>Deadline has passed</h1>
            <p>Sorry but you did not apply on time. If you are a sophomore, please consider applying next year as a junior!</p>
        </div>
    <% } else { %>
        <%- include ('./written') %>
    <% } %>
<% } else if (user.applicant_data.application_stage === 2) { 
        if (user.applicant_data.individual_interview.interviewer) { %>
            <%- include ('./individualDetails') %>
        <% } else { %>
            <%- include ('./individual') %>
        <% } %>
<% } else if (user.applicant_data.application_stage === 3) { %>
    <%- include ('./groupInterview') %>
<% } else if (user.applicant_data.application_stage === 4) { %>
    <%- include ('./groupActivity') %>
<% } %>

<%- include ('./../partials/applicant/footer') %>