<%- include ('./../partials/applicant/header') %>

<% if(user.applicant_data.application_stage === 0) { %>
    <div class="not-time">
        <h1>It is not yet time to apply!</h1>
        <p>We appreciate you signing up early, but it is not yet time to apply. Please check your email for any application updates and check the portal as well. If you have a question, feel free to use the question button above.</p>
    </div>
<% } else if (user.applicant_data.cut) { %>
    <div class="cut">
        <h1>Your Application Has Been Cut</h1>
        <p>Thank you for your interest in SPARK! We wanted to thank you for taking the time to be interviewed and participate in the group interview as well. This year, we had a high volume of applicants and unfortunately are not able to accept all who applied. We appreciate your desire to help out the BCA community and encourage you to continue to do so moving forward! At this time, we are not able to offer you a spot in the next stage of the application process. All sophomore applicants are encouraged to apply next year, if they so desire.
 
            Best,
            SPARK Application Committee
        </p>
    </div>
<% } else if (user.applicant_data.application_stage === 1) { %>
    <% if (user.applicant_data.written.activities.length !== 0) { %>
        <div class="written-submitted">
            <h1>Thanks for applying!</h1>
            <p>Please look out for an email in the upcoming weeks regarding the next steps and check this portal every so often to see if it updates.</p>
        </div>
    <% } else if (Date.now() > Date.parse(details.written.deadline)) { %>
        <div class="written-deadline">
            <h1>Deadline has passed</h1>
            <p>Sorry but you did not apply on time. If you are a sophomore, please consider applying next year as a junior!</p>
        </div>
    <% } else { %>
        <%- include ('./written') %>
    <% } %>
<% } else if (user.applicant_data.application_stage === 2) { 
        if (user.applicant_data.individual_interview.interviewer) { %>
            <%- include ('./individualDetails') %>
        <% } else { %>
            <%- include ('./individual') %>
        <% } %>
<% } else if (user.applicant_data.application_stage === 3) { %>
    <%- include ('./groupInterview') %>
<% } else if (user.applicant_data.application_stage === 4) { %>
    <%- include ('./groupActivity') %>
<% } else if (user.applicant_data.application_stage === 5) { %>
    <div class="accepted">
        <h1>Congratulations!</h1>
        <p>Congratulations on being accepted into SPARK! We appreciate your patience during this long application process and look forward to having you join and work with our amazing group of student leaders. Please look out for emails regarding the next steps. See you soon! Best, SPARK Applications Committee</p>
    </div>
<% } %>

<%- include ('./../partials/applicant/footer') %>