<div class="individual">
    <h2>Individual Interview Signup</h2>
    <p class="instructions">Please Select Your Availability Below</p>

    <p class="success" style="display: none">Successfully Updated Availability</p>
    <p class="error" style="display: none">Error Updating Availability</p>

    <% 
        const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
        const availability = user.applicant_data.individual_interview.availability
    %>

    <div class="schedule" data-post-url="/api/applicant/update_availability">
        <div class="row">
            <% days.forEach(day => { %>
                    <div class="day"><%= day %></div>
            <% }) %>
        </div>

        <% for (let mod = 1; mod < 28; mod++) { %>
            <div class="row">
                <% days.forEach(day => { %>
                    <% if (day === "Wednesday") { %> 
                        <div class="mod wednesday"><%= mod %></div>
                    <% } else { %>
                        <% if (availability[`${day.toLowerCase()}`] && availability[`${day.toLowerCase()}`].indexOf(mod) !== -1) { %>
                            <div data-day="<%= day.toLowerCase() %>" class="mod selected"><%= mod %></div>
                        <% } else { %>
                            <div data-day="<%= day.toLowerCase() %>" class="mod"><%= mod %></div>
                        <% } %>
                    <% } %>
                <% }) %>
            </div>
        <% } %>
    </div>

    <button id="save-schedule">Save Changes</button>
</div>