<%- include ('../../partials/spark/header') %>

<div class="modal micromodal-slide" id="grade-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="grade-modal">
            <header class="modal__header">
                <h2 class="modal__title" id="grade-modal-title">
                    Grade Written Application
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            
            <main class="modal__content" id="grade-modal-content">
                <form id="grade-modal-form" action="/spark/applications/written/<%= applicant._id %>" method="POST">

                    <% written_application.categories.forEach((category, i) => {
                        let val = ""
                        if (written.grades.length >= i) val = written.grades[i]
                    %>
                        <div class="input-field">
                            <label for="<%= category.replace(' ', '_') %>"><%= category %></label>
                            <input id="<%= category.replace(' ', '_') %>" type="number" min="1" max="5" name="grades" value="<%= val %>" placeholder="1-5" required>
                        </div>
                    <% }) %>

                    <div class="textarea-field">
                        <label id="comments-label" for="comments">Comments</label>
                        <textarea name="comments" id="comments" cols="30" rows="10"><%= written.comments %></textarea>
                    </div>
                    
                    <div class="modal-buttons">
                        <button id="modal-submit" type="submit" class="modal__btn">Submit</button>
                        <button id="modal-cancel" type="button" class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Cancel</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>

<div class="written container">
    <div class="content">
        <h2>Written Application</h2>
        <p><%= `${applicant.firstname} ${applicant.lastname}` %></p>

        <form>
            <h3 class="header">Activities and Extracurriculars</h4>
            <hr>

            <% written.activities.forEach((activity, i) => { %>
                <h4>Activity <%= i+1 %></h4>
                <textarea name="activities" cols="30" rows="5" placeholder="Empty" required readonly><%= activity.activity %></textarea>
                <div class="hours-per-week">
                    <p>Enter number of hours spent per week:</p>
                    <input name="hours" type="text" placeholder="Empty" class="hours" value="<%= activity.hours %>" required readonly>
                </div>
            <% }) %>

            <h3 class="header">Questions</h3>
            <hr>
            
            <% for (let i = 0; i < written_application.questions.length; i++) { %>
                <h4><%= written_application.questions[i] %></h4>
                <textarea name="responses" cols="30" rows="10" placeholder="Empty" required readonly><%= written.responses[i] %></textarea>
            <% } %>
            
            <button id="grade" type="button" data-micromodal-trigger="grade-modal">Grade</button>
        </form>
    </div>
</div>

<%- include ('../../partials/spark/footer') %>